img.table
{
	border:1px solid orange;
	width:75px;
}

div.preview
{
	float:left;
}

img.preview
{
	border:1px solid orange;
	width:320px;
}

font.cell
{
	font-size:60%;
}

font.cell-ok
{
	color:green;
	font-size:60%;
}
font.cell-error
{
	color:red;
	font-size:60%;
}