img.table
{
	border:1px solid orange;
	width:120px;
}

div.preview
{
	float:left;
}

img.preview
{
	border:1px solid orange;
	width:640px;
}

font.cell
{
	font-size:100%;
}

font.cell-ok
{
	color:green;
	font-size:100%;
}
font.cell-error
{
	color:red;
	font-size:100%;
}